.footer-block{

    margin-top: 40%;
        
    width: 100%;
    max-height: 400px;
    height: 99%;
    padding-bottom: 20%;
    

}
.Farewell-text{
text-align: center;
color: white;
font-size: 3vw;


}