.my-development {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.my-development__title {
    height: 200px;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-development__target {
    display: flex;
    justify-content: space-evenly;
}

.target__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height:100%;
}

.container__title-frontend,
.container__title-backend,
.container__title-unity {
    font-size: 1.3vmax;
}

.container__text-frontend,
.container__text-backend,
.container__text-unity{
    font-size: 1vmax;
}

.img-frontend__img,
.img-backend__img,
.img-unity__img{
    width: 400px;
    width: 100%;
}

@media screen and (max-width:1550px) {
    .target__container  {
        max-width: 300px;
        width: 100%;
    }
}

@media screen and (max-width:1000px) {
    .my-development__target  {
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
    .target__container  {
        height: 300px;
    }
    .my-development__title {
        font-size: 2vw;
    }
}

@media screen and (max-width:500px) {
    .my-development__title {
        font-size: 3vw;
    }
    .target__container  {
        max-width: 250px;
        width: 100%;
    }
}
