
.im-person{
  
    height: 100%;
    color: white;
}

.Block-class-person{
    text-align: center;
    position: relative;
  
}



.backgraund-im-person{

    max-width: 2000px ;
    width: 70%;
    

}
    
  

.img-person{
    max-width: 2000px ;
    width: 55%;
    border-radius: 100%;
   
    transition: scale 1s;
}
.img-person:hover{
    scale: 2;
}


.img-person-position{
    position: absolute;
    display: flex;

    top: 0vh; 
    left: 0vw;

    margin-left: 55%;
    margin-top: 18%;
   
}



.Person-title{
    position: absolute;
    top: 0vh; 
    left: 0vw;
    margin-left: 27%;
    margin-top: 7%;
    font-size: 2vw;
}

.person-text{
    position: absolute;
    top: 0vh; 
    left: 0vw;
    margin-left: 25%;
    
    margin-top: 13%;
    font-size: 1.7vw;
    text-align: left;
   
    max-width: 800px;
    width: 25%;

}

