
.My-Skills{
    border:solid 1px rgb(0, 0, 0);
    color: white;
    text-align: center;
    height: 100%;
    
    
}


.Title-MySkills{
    position: absolute;
    top: 0%;
    width: 100%;
    text-align: center;
    font-size: 2vw;
    font-family: 'Roboto';
   
}




.slide{
    width: 64%;
    height: 50vh;
    /* border:  5px solid rgb(255, 255, 255); */
    margin:  20% auto;
   
    position: relative;
    left: 0%;
    overflow: hidden;

}



.clide-single{
    width: 10vw;
    position: absolute;
    transition: all ease 2.5s;
    left: 0%;
    top: 40%;
      
}
#Scroll-technologies{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 23%;
    margin-left: 45%;
    overflow: hidden;
    opacity: 0;

}







@media screen and (max-width: 700px) {
    .Title-MySkills{
        /* top: 0%; */
    }
}

