/* раздел показа работ */

.My-work{
     
    /* text-align: center; */
    color:white;
    height: 100%;
    min-height: 700px;
   
    
    

}


.Class_Iphone {
    position: relative ;
  
}



#Id-Iphone-1,#Id-Iphone-2{
    
    position: absolute;
    left: 0vw; 
    right: 0vw;
    top: 0vh;
    bottom: 0vh;
    margin-top: 3%;
    text-align: center;   
    
}

.img-scale-Iphone-off,.img-scale-Iphone-on{
    max-width: 2000px;
    width: 20%;
}






.Iphone-backgraund{

    position: absolute;
    left: 0vw; 
    right: 0vw;
    top: 0vh;
    bottom: 0vh;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1.5s;

  
}

.Iphone-backgraund:hover{

    opacity: 1;
}


.Text-in-iphone{

    position: absolute; 
    left: 0vw; 
    right: 1vw;
    top: 0vh;
    bottom: 0vh;
    font-size: 2.5vw;
    font-family: 'Roboto', sans-serif;
    color: white;

    margin-top: 9%;
    margin-left: 1%;
}








@media screen and (max-width: 700px) {
    .Text-in-iphone{
        /* font-size: 1.5em;
        top: 7vh; */
    
    }
}




@media screen and (max-width: 800px) {
    .My-work{
        /* min-height: 600px;  */
    }
}

@media screen and (max-width: 400px) {
    .My-work{
        /* min-height: 300px;  */
    }
}